<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('researcher', researcher_name=run.researcher.researcher_name) }}">
                <img src="{{ run.researcher.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('researcher', researcher_name=run.researcher.researcher_name) }}">
                {{ run.researcher.researcher_name }}
            </a>
            Pipeline Name: {{ run.pipeline_name }}<br>
            Pipeline Type: {{ run.pipeline_type }}<br>
            Run at: {{ run.formatted_timestamp }}<br>
            Status: {{ run.status }}<br>
            <a href="{{ url_for('pipeline_run_results', run_id=run.id) }}">View Results</a>
        </td>
    </tr>
</table>