{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="dataset-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Gene Stable ID</th>
                    <th>Gene Type</th>
                    <th>Gene Name</th>
                    <th>HGNC Name</th>
                    <th>HGNC ID</th>
                </tr>
            </thead>
            <tbody>
            {% for gene in genes %}
                <tr>
                    <td>{{ gene.gene_stable_id }}</td>
                    <td>{{ gene.gene_type }}</td>
                    <td>{{ gene.gene_name }}</td>
                    <td>{{ gene.hgnc_name }}</td>
                    <td>{{ gene.hgnc_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if prev_url %}
            <a href="{{ prev_url }}" class="btn btn-outline-primary">Previous</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}" class="btn btn-outline-primary">Next</a>
        {% endif %}
    </div>
{% endblock %}